telegram_bot.json
{
  "name": "telegram_bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        48
      ],
      "id": "7dbf862b-45da-452d-952e-45159848d9d5",
      "name": "Telegram Trigger",
      "webhookId": "6f9037be-c53f-460d-abb4-dadd6ff4b627",
      "credentials": {
        "telegramApi": {
          "id": "UruCm2AkEmSnrN8b",
          "name": "bot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        16,
        208
      ],
      "id": "0cbba4b1-dd24-4b08-98ae-87aa42ceda52",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "r1Sx3QgNcTDlc0Ck",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        0
      ],
      "id": "b5f57f99-a4b8-443e-830c-7546a3349145",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        48
      ],
      "id": "b7cfc344-306e-4a77-88d1-7d22bf64dcc0",
      "name": "Send a text message",
      "webhookId": "26462a88-8b59-4450-a7c6-ad07fd784654",
      "credentials": {
        "telegramApi": {
          "id": "UruCm2AkEmSnrN8b",
          "name": "bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "55012cb6-68b5-4479-95d2-99ef9d93561b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "684ef9e2c0c018a42edb9ed11da595202c999b58346bca7b2b1e3093dd525bef"
  },
  "id": "ntczsVRXXgUKzepk",
  "tags": []
}